<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apresentação</title>
  <link rel="stylesheet" href="app.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=IBM+Plex+Mono:wght@300&family=Roboto:wght@900&family=Sen&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
  <div id="maindiv">
    <div id="content-top">
      <div id="content-foto">
        <div id="div-foto">
        </div>
      </div>
      <h1 id="text-nome">RAFAEL TOMAZ</h1>
      <hr class="linha">
    </div>

    <div id="content-bottom">
      <div id="content-text">
        <p class="text">Olá! Meu nome é Rafael, tenho 17 anos e atualmente estou cursando técnico em Desenvolvimento de Sistemas na ETEC. Meu forte na área é o frontend, porém sempre estou disposto a aprender mais sobre a parte de backend.</p>
        <p class="text">Meu objetivo como profissional é usar a tecnologia para ajudar pessoas carentes, ou alguma causa social. Meus hobbies são tocar violão e assistir filmes e séries.</p>
        <p class="text" style="margin-bottom: 20px;">Caso esteja interessado, esses são meus contatos:</p>
        <a href="https://www.linkedin.com/in/rafael-tomaz-332a1a268/" class="text" style="margin-left: 25%;" >Linkedin</a>
        <a href="https://github.com/RafaelTomazzz" class="text" style="margin-left: 25%;" >GitHub</a>
      </div>
    </div>
  </div>
</body>
</html>
<router-outlet></router-outlet>
